
.header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url("../../assets/img/museu.jpg");

}

.lead{
    background-color: rgba(238, 234, 234, 0.678);
    margin-left: 200px;
   margin-top: 50px;
   width: 700px;
}
.btn3 {   
    margin-left: 475px;   
}
.btn4 {   
    margin-left: 10px; 
}

.display-4{
    font-family: 'Montserrat Alternates', sans-serif;
    color:orange;
    text-shadow: #fdbf16 1px 1px 1px, #1d0707 -1px 1px 1px, #160909 1px -1px 1px, #990909 -1px -1px 1px;
    text-align: center;
}
