.header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url("../../assets/img/praia.jpg");
}

.btn1 {   
    margin-left: 475px;
}

.btn2 {   
    margin-left: 10px;
   
}

.leadpromo1{
    background-color: rgba(238, 234, 234, 0.678);
    margin-left: 410px;
   margin-top: 100px;
   width: 300px;
}

.display-4{
    font-family: 'Montserrat Alternates', sans-serif;
    color:orange;
    text-shadow: #fdbf16 1px 1px 1px, #1d0707 -1px 1px 1px, #160909 1px -1px 1px, #990909 -1px -1px 1px;
    text-align: center;
}